body{
    justify-content: center;
    text-align: center;
}

table {
    margin: auto auto;
}


table,th,td{
    border: 1px solid black;
    border-collapse: collapse;

}
table {
    width: 80%;
}
th{
    height: 70px;
    
}
td{
    padding: 10px;
    
}

.contents {
    height: 300px;
    text-align: center;
}

.Footer {
    text-align: center;
    height: 50px;
}
p{
    text-align: left;
}